* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    background-color: #ffcccb;
    height: 100px;

    .header__container {
        padding: 20px 40px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .burger-btn {
            background-color: transparent;
            border: none;
            width: 40px;
            height: 40px;
            cursor: pointer;
            z-index: 2;

            span {
                display: block;
                width: 30px;
                height: 4px;
                background-color: #ff8b8b;
                margin: 5px 0;
                transition: all 0.3s ease-in-out;
            }

            span:first-child {
                transform: translateY(20px);
            }

            span:last-child {
                transform: translateY(-20px);
            }
        }

        .burger-btn--active {
            span:first-child {
                transform-origin: center;
                transform: translateY(250%) rotate(45deg);
            }

            span:last-child {
                transform-origin: center;
                transform: translateY(-250%) rotate(-45deg);
            }

            span:nth-child(2) {
                opacity: 0;
            }
        }

        .burger-menu-container {
            position: fixed;
            display: none;
            width: 100vw;
            height: 100vh;
            left: 0;
            top: 0;
            background-color: rgba($color: grey, $alpha: 0.6);
            z-index: 1;

            .burger-menu {
                position: absolute;
                padding-top: 100px;
                left: 0;
                top: 0;
                width: 25%;
                height: 100vh;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;

                .list-item-link {
                    display: block;
                    font-size: 32px;
                    color: #ff8b8b;
                    text-decoration: none;
                    margin-bottom: 20px;
                    font-family: sans-serif;
                    letter-spacing: 0.2em;
                }

                .burger-menu-list-item:first-child a {
                    margin-top: 20px;
                    font-weight: bold;
                }

                .burger-menu-list-item:last-child a {
                    font-weight: bold;
                }

            }
        }

        .burger-menu-container--active {
            display: block;
        }

        .header__title {
            font-size: 48px;
            color: #ff8b8b;
            font-family: "Comic Sans MS", cursive, sans-serif;
            margin: 0;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 90px;
            height: 40px;
            margin: 20px;

            .switch-checkbox {
                display: none;
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                transition: .4s;
                border-radius: 34px;

                &::before {
                    position: absolute;
                    content: "";
                    height: 32px;
                    width: 32px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    transition: .4s;
                    border-radius: 50%;
                }
            }

            .switch-checkbox:checked+.slider {
                background-color: #ff8b8b;
            }

            .switch-checkbox:checked+.slider:before {
                transform: translateX(50px);
            }

            .switch-label {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-family: sans-serif;
                font-size: 18px;
                color: #FFF;
              }
              
              .train-mode {
                display: none;
                right: 10px;
              }
              
              .play-mode {
                display: none;
                left: 10px;
              }
              
              .active {
                display: block;
              }
        }
    }
}

.main {
    background-color: rgba(220, 180, 50, 0.2);
    height: 100%;

    .card-container {
        max-width: 1240px;
        margin: 0 auto;
        padding: 60px 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
        justify-content: center;
        align-content: center;

        .card {
            position: relative;
            width: 290px;
            height: 348px;
            border-radius: 10px;
            overflow: hidden;
            border: 1px solid rgb(193, 192, 192);
            transition: all 0.2s;
            justify-self: center;
            background-color: #FFF;
            cursor: pointer;

            &:hover {
                box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
                transform: translateY(-5px);
            }

            &:active {
                box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.3);

            }

            .card-figure {
                width: 100%;
                height: 100%;

                .card-img {
                    display: block;
                    margin-bottom: 20px;
                    width: 100%;
                }

                .card-title {
                    margin-left: 20px;
                    margin-bottom: 20px;
                    font-family: sans-serif;
                    text-transform: uppercase;
                    color: grey;
                    font-weight: bold;
                    letter-spacing: 0.2em;
                }
            }
        }

        .card-word {

            .card-word-front-side,
            .card-word-back-side {
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: absolute;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                transition: transform .5s ease;
            }

            .card-word-front-side {
                transform: perspective(600px) rotateY(0);

                .card-rotate-btn {
                    width: 40px;
                    height: 24px;
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                    border: none;
                    background: url('../icons/rotate-arrow.png') no-repeat center center/contain;
                }
            }

            .card-word-back-side {
                transform: perspective(600px) rotateY(180deg);

                img {
                    transform: scaleX(-1);
                }
            }

        }

        .card-reverse {
            .card-word-front-side {
                transform: perspective(600px) rotateY(-180deg);
            }

            .card-word-back-side {
                transform: perspective(600px) rotateY(0);
            }
        }
    }
}

@media screen and (width < 1200px) {
    .main {

        .card-container {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (width < 768px) {
    .main {

        .card-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (width < 600px) {
    .header {

        .header__container {

            .header__title {
                display: none;
            }
        }
    }

    .main {

        .card-container {
            padding: 60px 15px;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

// header button.switch.active:before {
//     opacity: 0;
//     transform: translate(-150%, -50%);
// }

// header button.switch.active:after {
//     opacity: 1;
//     transform: translate(-50%, -50%);
// }